.header {
    padding-top: 120px;
}

.header h1 {
    text-align: center;
    color: #285A43;
    padding-bottom: 30px;
}

.commentCards {
    
    width: 330px;
    height: 360px;
    background-color: #f6eeee;
    margin: 0 15px;
    border: 1px solid black;
    border-radius: 4px;
}

.unionCommentCards {
    display: flex;
    padding-bottom: 120px;
}

.ahaaaa {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.ahaaaa img {
    margin-right: 10px;
}